@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="breakout">
        <div class="imageinlinediv" style="text-align: center">
            <img height="200px" src="~/Content/Images/Backgrounds/FlagshipBackingGradient.jpg" />
        </div>
    </div>
</div>
<div class="center-block" style="position: absolute; padding-top: 100px">
    <img src="~/Content/Images/UmiLearningDesignWeb.png" />
    <h1>Utitshala</h1>
    <hr />
    <p class="lead">Utitshala is a low-data, Telegram-based Learning Management System (LMS) for rural African learners.</p>
    <hr />
    <h1>Key Features:</h1>
    <hr />
    <div class="container">
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">A lesson designer tailored for African teaching</p>
            <div class="howbar1"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Ultra-low data usage</p>
            <div class="howbar1"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Telegram-based lesson distribution</p>
            <div class="howbar1"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Classroom management and learner tracking</p>
            <div class="howbar1"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Low-cost (or free!) teacher plans</p>
            <div class="howbar1"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Integrated help and guidance for teachers</p>
            <div class="howbar1"></div>
        </div>
    </div>
    <h1>Sign up now!</h1>
</div>
<div class="container" style="padding-top: 1200px">
</div>