@{
    ViewBag.Title = "Home Page";
}
<div class="container visible-lg visible-md">
    <div class="breakout">
        <div class="imageinlinediv" style="text-align: center">
            <img height="200px" src="~/Content/Images/Backgrounds/FlagshipBackingGradient.jpg" />
        </div>
    </div>
</div>
<img class="umilogo" src="~/Content/Images/Umi/UmiLearningDesignWeb.png" />
<h1 class="visible-lg visible-md logotextshadow">Utitshala</h1>
<div class="container" style="padding-top: 275px">
    <hr />
    <p class="lead">Utitshala is a low-data, Telegram-based Learning Management System (LMS) for rural African learners.</p>
    <hr />
    <h1 style="color: white">Key Features:</h1>
    <hr />
    <div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">A lesson designer tailored for African teaching</p>
            <div class="homeafricanteaching"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Ultra-low data usage</p>
            <div class="homedata"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Telegram-based lesson distribution</p>
            <div class="hometelegram"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Classroom management and learner tracking</p>
            <div class="homeclassroom"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Low-cost (or free!) teacher plans</p>
            <div class="homecost"></div>
        </div>
        <div class="col-md-6" style="padding-bottom: 20px">
            <p class="lead">Lesson templates for fast, easy setup</p>
            <div class="hometemplate"></div>
        </div>
    </div>
</div>
<br />
<div class="container" style="padding-left: 28px">
    <a href="@Url.Action("Register", "Account")">
        <input type="button" class="btn btn-success" value="Sign Up Now!" />
    </a>
    <input type="button" style="margin-left: 10px" class="btn btn-default" value="Learn More" />
</div>
<br />