@{
    ViewBag.Title = "Home Page";
}

<div class="center-block">
    <h1>Utitshala</h1>
    <p class="lead">Utitshala is a low-data, Telegram-based Learning Management System (LMS) for rural African learners.</p>
</div>