@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="breakout">
        <div class="imageinlinediv" style="text-align: center">
            <img height="200px" src="~/Content/Images/Backgrounds/FlagshipBackingGradient.jpg" />
        </div>
    </div>
</div>
<div class="center-block" style="position: absolute; padding-top: 100px">
    <img src="~/Content/Images/UmiLearningDesignWeb.png" />
    <h1>Utitshala</h1>
    <p class="lead">Utitshala is a low-data, Telegram-based Learning Management System (LMS) for rural African learners.</p>
</div>